.wrapper {
    display: flex;
    justify-content: flex-start;
    
    .sidebar {
        background-color: $color_bg_2;
        width: 269px;
        height: 100vh;
        overflow-y: auto;
        border-right: 1px solid $color_indigo_100;
    }

    .main-content {
        background-color: $color_bg_1;
        width: calc(100% - 270px);
        height: 100vh;
        overflow-y: auto;
    }
}

.main-content {

    .main-header {
        background-color: $color_white;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        align-items: center;
        // position: fixed;
        // top: 0;
        // right: 0;
        // width: calc(100% - 270px);
    }

    .content {
        padding: 15px;
    }
}