.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
    .sidebar {
        background-color: $color_bg_2;
        width: 269px;
        height: 100vh;
        overflow-y: auto;
        border-right: 1px solid $color_indigo_100;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            color: $color_danger;
            font-size: 20px;
            display: none;
        }
    }

    .main-content {
        background-color: $color_bg_1;
        width: calc(100% - 270px);
        height: 100vh;
        overflow-y: auto;
    }
    
    @media screen and (max-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;

        .sidebar {
            position: fixed;
            width: 100%;
            top: 50%;
            left: 0;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            z-index: 999;

            .close {
                display: block;
            }

        }
        
        &.rs-open-sidebar {
            .sidebar {
                top: 0;
                opacity: 1;
                visibility: visible;
                transition: 300ms;
            }
        }

        .main-content {
            width: 100%;
        }
    }
}

.main-content {
    .main-header {
        background-color: $color_white;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        align-items: center;
        
        .page-control {
            display: flex;
            align-items: center;
            line-height: 0;

            .app-icon {
                cursor: pointer;
                display: none;
                .bx {
                    margin-right: 10px;
                    font-size: 24px;
                    color: $color_indigo_600;
                }
            }

            h5 {
                font-weight: 500;
            }
        }
    }

    .content {
        padding: 15px;
    }

    @media screen and (max-width: 768px){
        .main-header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;

            .page-control {
                .app-icon {
                    display: block;
                }
            }
        }

        .content {
            margin-top: 50px;
        }
    }
}

.full-screen {
    .wrapper {
        .sidebar {
            display: none;
        }
    
        .main-content {
            width: 100%;
            .main-header {
                display: none;
            }

            .content {
                padding: 0;
            }
        }
    }
}