// fonts
$font_primary: 'Nunito', sans-serif;
$font_secondary: 'Livvic', sans-serif;

$color_bg_1: #EAEDF5;
$color_bg_2: #F0F9FF;

$color_primary: #060B4D;
$color_dark: #1E293B;
$color_white: #ffffff;
