html, body {
    height: 100%;
}

body {
    font-family: $font_primary;
    background-color: $color_bg_1;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_secondary;
}